# Career Foundry 6.1
## Perform initial data clean up and analysis
- Basic statistical analysis of the data set
- Remove duplicates
- Correct data types

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create a path for this project
path = r'C:\Users\laura\Documents\Continuting Education\Career Foundry\Advanced Analytics and Dashboards\Data Analytics Dashboard Project'

In [5]:
df_cargo_1 = pd.read_csv(os.path.join(path, 'Data Files', 'clean', 'CT_2013_2023', 'CD_2023_Cleaned_1.csv'))

# Initial data exploration

In [8]:
df_cargo_1.describe()

           data_year   offender_age
count  228305.000000  118657.000000
mean     2019.545853      24.539833
std         2.994598      17.756065
min      2012.000000       0.000000
25%      2018.000000      14.000000
50%      2020.000000      25.000000
75%      2022.000000      36.000000
max      2023.000000      99.000000

In [10]:
df_cargo_1.shape

(228305, 28)

In [12]:
df_cargo_1.head()

,data_year,ori,pub_agency_name,pub_agency_unit,agency_type_name,city_name,state_abbr,state_name,division_name,county_name,...,offender_age,offender_sex,victim_type_name,location_name,weapon_name,prop_desc_name,stolen_value,recovered_value,recovered_flag,date_recovered
0,2019,NC0900200,Monroe,NaN,City,Monroe,NC,North Carolina,South Atlantic,UNION,...,NaN,NaN,Individual,Hotel/Motel/Etc.,NaN,Aircraft,50,$-,False,NaN
1,2012,FL0530000,Polk,NaN,County,NaN,FL,Florida,South Atlantic,POLK,...,NaN,X,Individual,Not Specified,NaN,Alcohol,120000,$-,False,NaN
2,2012,FL0530000,Polk,NaN,County,NaN,FL,Florida,South Atlantic,POLK,...,NaN,X,Individual,Convenience Store,NaN,Alcohol,120000,$-,False,NaN
3,2012,FL0530000,Polk,NaN,County,NaN,FL,Florida,South Atlantic,POLK,...,NaN,X,Individual,Not Specified,NaN,Alcohol,120000,$-,False,NaN
4,2012,FL0530000,Polk,NaN,County,NaN,FL,Florida,South Atlantic,POLK,...,NaN,X,Individual,Convenience Store,NaN,Alcohol,120000,$-,False,NaN

## Begin Data Cleaning

In [15]:
#remove duplicates
df_cargo_1 = df_cargo_1.drop_duplicates()

In [17]:
df_cargo_1.shape

(209809, 28)

In [19]:
#note that the row count has now been reduced

In [21]:
print (df_cargo_1.columns)

Index(['data_year', 'ori', 'pub_agency_name', 'pub_agency_unit',
       'agency_type_name', 'city_name', 'state_abbr', 'state_name',
       'division_name', 'county_name', 'county_name_2', 'county_name_3',
       'county_name_4', 'region_name', 'population_group_desc', 'offense_name',
       'offender_race', 'offender_ethnicity', 'offender_age', 'offender_sex',
       'victim_type_name', 'location_name', 'weapon_name', 'prop_desc_name',
       ' stolen_value ', ' recovered_value ', 'recovered_flag',
       'date_recovered'],
      dtype='object')

In [23]:
# Some column names have space in them. I will address this

In [25]:
df_cargo_1.columns = df_cargo_1.columns.str.strip()

In [27]:
print (df_cargo_1.columns)

Index(['data_year', 'ori', 'pub_agency_name', 'pub_agency_unit',
       'agency_type_name', 'city_name', 'state_abbr', 'state_name',
       'division_name', 'county_name', 'county_name_2', 'county_name_3',
       'county_name_4', 'region_name', 'population_group_desc', 'offense_name',
       'offender_race', 'offender_ethnicity', 'offender_age', 'offender_sex',
       'victim_type_name', 'location_name', 'weapon_name', 'prop_desc_name',
       'stolen_value', 'recovered_value', 'recovered_flag', 'date_recovered'],
      dtype='object')

In [29]:
print(df_cargo_1['recovered_value'].dtype)

object

In [31]:
print(df_cargo_1.dtypes)

data_year                  int64
ori                       object
pub_agency_name           object
pub_agency_unit           object
agency_type_name          object
city_name                 object
state_abbr                object
state_name                object
division_name             object
county_name               object
county_name_2             object
county_name_3             object
county_name_4             object
region_name               object
population_group_desc     object
offense_name              object
offender_race             object
offender_ethnicity        object
offender_age             float64
offender_sex              object
victim_type_name          object
location_name             object
weapon_name               object
prop_desc_name            object
stolen_value              object
recovered_value           object
recovered_flag              bool
date_recovered            object
dtype: object

In [33]:
# Several columns in python are objects when they should be strings or other types. I will address this

In [35]:
df_cargo_1['ori'] = df_cargo_1['ori'].astype(str)
df_cargo_1['pub_agency_unit'] = df_cargo_1['pub_agency_unit'].astype(str)
df_cargo_1['pub_agency_name'] = df_cargo_1['pub_agency_name'].astype(str)
df_cargo_1['agency_type_name'] = df_cargo_1['agency_type_name'].astype(str)
df_cargo_1['city_name'] = df_cargo_1['city_name'].astype(str)
df_cargo_1['state_abbr'] = df_cargo_1['state_abbr'].astype(str)
df_cargo_1['state_name'] = df_cargo_1['state_name'].astype(str)
df_cargo_1['division_name'] = df_cargo_1['division_name'].astype(str)
df_cargo_1['county_name'] = df_cargo_1['county_name'].astype(str)
df_cargo_1['region_name'] = df_cargo_1['region_name'].astype(str)
df_cargo_1['offense_name'] = df_cargo_1['offense_name'].astype(str)
df_cargo_1['population_group_desc'] = df_cargo_1['population_group_desc'].astype(str)
df_cargo_1['offender_race'] = df_cargo_1['offender_race'].astype(str)
df_cargo_1['offender_ethnicity'] = df_cargo_1['offender_ethnicity'].astype(str)
df_cargo_1['offender_sex'] = df_cargo_1['offender_sex'].astype(str)
df_cargo_1['weapon_name'] = df_cargo_1['weapon_name'].astype(str)
df_cargo_1['prop_desc_name'] = df_cargo_1['prop_desc_name'].astype(str)
df_cargo_1['victim_type_name'] = df_cargo_1['victim_type_name'].astype(str)
df_cargo_1['location_name'] = df_cargo_1['location_name'].astype(str)
df_cargo_1['weapon_name'] = df_cargo_1['weapon_name'].astype(str)

## Begin cleaning columns values

In [38]:
# Date recovered. Change na values to 1/1/1900 and convert to date type
df_cargo_1['date_recovered'] = df_cargo_1['date_recovered'].fillna(pd.to_datetime('1900-01-01'))

In [39]:
#convert column to date
df_cargo_1['date_recovered'] = pd.to_datetime(df_cargo_1['date_recovered'])

In [42]:
print(df_cargo_1['date_recovered'].dtype)

datetime64[ns]

In [44]:
#replace  $-   recovered and stolen values with 0
df_cargo_1['recovered_value'] = df_cargo_1['recovered_value'].replace(' $-   ', 0).fillna(0)
df_cargo_1['stolen_value'] = df_cargo_1['stolen_value'].replace(' $-   ', 0).fillna(0)

In [46]:
#replace  blank values from recovered and stolen values with 0
df_cargo_1['recovered_value'] = df_cargo_1['recovered_value'].replace('', 0).fillna(0)
df_cargo_1['stolen_value'] = df_cargo_1['stolen_value'].replace('', 0).fillna(0)

In [48]:
#change both columns from a string to a float data type
df_cargo_1['recovered_value'] = df_cargo_1['recovered_value'].astype(float)
df_cargo_1['stolen_value'] = df_cargo_1['stolen_value'].astype(float)

In [50]:
print(df_cargo_1['recovered_value'].dtype)
print(df_cargo_1['stolen_value'].dtype)

float64
float64

In [52]:
print(df_cargo_1['recovered_value'].describe())

count    2.098090e+05
mean     2.300290e+03
std      2.196439e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+08
Name: recovered_value, dtype: float64

In [54]:
print(df_cargo_1['stolen_value'].describe())

count    2.098090e+05
mean     1.739042e+04
std      2.541993e+06
min      0.000000e+00
25%      1.500000e+01
50%      2.500000e+02
75%      1.410000e+03
max      1.000000e+09
Name: stolen_value, dtype: float64

In [56]:
#min value is 0. Likely this is becuase data is missing. I will put all columns that have a stolen value into a new data frame
df_cargo_2 = df_cargo_1[df_cargo_1['stolen_value'] != 0]

In [60]:
#check my work
df_cargo_2.shape

(190148, 28)

In [62]:
# offender_sex has multiple values that need to be cleaned up
#first find out what unique values exist
print (df_cargo_2['offender_sex'].unique())

['nan' 'X' 'U' 'M' 'F']

In [70]:
#update to M, F or blank
df_cargo_2.loc[~df_cargo_2['offender_sex'].isin(['M', 'F']), 'offender_sex'] = np.nan

In [72]:
#check my work
print (df_cargo_2['offender_sex'].unique())

[nan 'M' 'F']

In [74]:
df_cargo_2.head()

,data_year,ori,pub_agency_name,pub_agency_unit,agency_type_name,city_name,state_abbr,state_name,division_name,county_name,...,offender_age,offender_sex,victim_type_name,location_name,weapon_name,prop_desc_name,stolen_value,recovered_value,recovered_flag,date_recovered
0,2019,NC0900200,Monroe,nan,City,Monroe,NC,North Carolina,South Atlantic,UNION,...,NaN,NaN,Individual,Hotel/Motel/Etc.,nan,Aircraft,50.0,0.0,False,1900-01-01
1,2012,FL0530000,Polk,nan,County,nan,FL,Florida,South Atlantic,POLK,...,NaN,NaN,Individual,Not Specified,nan,Alcohol,120000.0,0.0,False,1900-01-01
2,2012,FL0530000,Polk,nan,County,nan,FL,Florida,South Atlantic,POLK,...,NaN,NaN,Individual,Convenience Store,nan,Alcohol,120000.0,0.0,False,1900-01-01
11,2012,SC0150000,Colleton,nan,County,nan,SC,South Carolina,South Atlantic,COLLETON,...,NaN,NaN,Individual,Parking/Drop Lot/Garage,nan,Alcohol,2000.0,0.0,False,1900-01-01
12,2020,FL0139700,Miami Gardens,nan,City,Miami Gardens,FL,Florida,South Atlantic,MIAMI-DADE,...,NaN,NaN,Business,Highway/Road/Alley/Street/Sidewalk,nan,Alcohol,663.0,0.0,False,1900-01-01

In [76]:
#checking recovered value for later analysis
print(df_cargo_2['recovered_value'].describe())

count    1.901480e+05
mean     2.538130e+03
std      2.307188e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+08
Name: recovered_value, dtype: float64

In [80]:
df_cargo_2['location_name'].unique()

array(['Hotel/Motel/Etc.', 'Not Specified', 'Convenience Store',
       'Parking/Drop Lot/Garage', 'Highway/Road/Alley/Street/Sidewalk',
       'Amusement Park', 'Liquor Store', 'Restaurant', 'Other/Unknown',
       'Commercial/Office Building', 'Department/Discount Store',
       'Grocery/Supermarket', 'Residence/Home', 'Service/Gas Station',
       'Dock/Wharf/Freight/Modal Terminal', 'Specialty Store',
       "Drug Store/Doctor's Office/Hospital", 'Air/Bus/Train Terminal',
       'Field/Woods', 'School-College/University',
       'School-Elementary/Secondary', 'Abandoned/Condemned Structure',
       'Rental Storage Facility', 'Auto Dealership New/Used',
       'Bar/Nightclub', 'Government/Public Building',
       'Church/Synagogue/Temple/Mosque', 'Construction Site',
       'Gambling Facility/Casino/Race Track', 'Camp/Campground',
       'ATM Separate from Bank', 'Shopping Mall', 'Farm Facility',
       'Park/Playground', 'Bank/Savings and Loan', 'Industrial Site',
       'Community Center', 'School/College', 'Rest Area',
       'Arena/Stadium/Fairgrounds/Coliseum', 'Lake/Waterway/Beach',
       'Military Installation', 'Shelter-Mission/Homeless', 'Cyberspace',
       'Jail/Prison/Penitentiary/Corrections Facility',
       'Daycare Facility', 'Tribal Lands'], dtype=object)

In [88]:
# school is listed in several different ways. I think it is best to consolidate this
df_cargo_2.loc[df_cargo_2['location_name'].isin(['School-College/University', 'School-Elementary/Secondary']), 'location_name'] = 'School/College'

In [92]:
#check my work
df_cargo_2['location_name'].unique()

array(['Hotel/Motel/Etc.', 'Not Specified', 'Convenience Store',
       'Parking/Drop Lot/Garage', 'Highway/Road/Alley/Street/Sidewalk',
       'Amusement Park', 'Liquor Store', 'Restaurant', 'Other/Unknown',
       'Commercial/Office Building', 'Department/Discount Store',
       'Grocery/Supermarket', 'Residence/Home', 'Service/Gas Station',
       'Dock/Wharf/Freight/Modal Terminal', 'Specialty Store',
       "Drug Store/Doctor's Office/Hospital", 'Air/Bus/Train Terminal',
       'Field/Woods', 'School/College', 'Abandoned/Condemned Structure',
       'Rental Storage Facility', 'Auto Dealership New/Used',
       'Bar/Nightclub', 'Government/Public Building',
       'Church/Synagogue/Temple/Mosque', 'Construction Site',
       'Gambling Facility/Casino/Race Track', 'Camp/Campground',
       'ATM Separate from Bank', 'Shopping Mall', 'Farm Facility',
       'Park/Playground', 'Bank/Savings and Loan', 'Industrial Site',
       'Community Center', 'Rest Area',
       'Arena/Stadium/Fairgrounds/Coliseum', 'Lake/Waterway/Beach',
       'Military Installation', 'Shelter-Mission/Homeless', 'Cyberspace',
       'Jail/Prison/Penitentiary/Corrections Facility',
       'Daycare Facility', 'Tribal Lands'], dtype=object)

## Exporting the code

In [94]:
# first export as a CSV for later use 
df_cargo_2.to_csv(os.path.join(path, 'Data Files', 'edited', 'CD_2023_Cleaned_2.csv'))

In [96]:
#to pickel to send for task response
df_cargo_2.to_pickle(os.path.join(path,'Tasks', 'CF_6.1', 'CD_2023_Cleaned_2.pkl'))