# Additional data edits to add in numerical variables for data points I would like to examine
- Will receive a 1 of true 0 if not.
- This will help aid in exploring relationships by turning dimensions into measures

In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\laura\Documents\Continuting Education\Career Foundry\Advanced Analytics and Dashboards\Data Analytics Dashboard Project'

In [6]:
df_cargo_2 = pd.read_csv(os.path.join(path, 'Data Files', 'edited', 'CD_2023_Cleaned_2.csv'))

In [136]:
df_cargo_2.head()

,Unnamed: 0,data_year,ori,pub_agency_name,pub_agency_unit,agency_type_name,city_name,state_abbr,state_name,division_name,...,is_biz_victim,is_public_victim,is_prop_desc_other,is_prop_desc_purse,is_prop_desc_money,is_prop_desc_auto,is_prop_desc_tools,is_location_home,is_location_parking_lot,is_location_highway
0,0,2019,NC0900200,Monroe,NaN,City,Monroe,NC,North Carolina,South Atlantic,...,0,0,0,0,0,0,0,0,0,0
1,1,2012,FL0530000,Polk,NaN,County,NaN,FL,Florida,South Atlantic,...,0,0,0,0,0,0,0,0,0,0
2,2,2012,FL0530000,Polk,NaN,County,NaN,FL,Florida,South Atlantic,...,0,0,0,0,0,0,0,0,0,0
3,11,2012,SC0150000,Colleton,NaN,County,NaN,SC,South Carolina,South Atlantic,...,0,0,0,0,0,0,0,0,1,0
4,12,2020,FL0139700,Miami Gardens,NaN,City,Miami Gardens,FL,Florida,South Atlantic,...,1,0,0,0,0,0,0,0,0,1

In [10]:
#add in code for agency type
result_city = []

for value in df_cargo_2["agency_type_name"]:
  if value == 'City':
    result_city.append(1)
  else: result_city.append(0)

In [12]:
df_cargo_2['is_city'] = result_city

In [14]:
df_cargo_2['is_city'].value_counts()

is_city
1    130863
0     59285
Name: count, dtype: int64

In [16]:
#add code for agency type = county
result_county = []

for value in df_cargo_2["agency_type_name"]:
  if value == 'County':
    result_county.append(1)
  else: result_county.append(0)

In [18]:
df_cargo_2['is_county'] = result_county

In [20]:
df_cargo_2['is_county'].value_counts()

is_county
0    136796
1     53352
Name: count, dtype: int64

In [22]:
#add code for agency type = federal
result_federal = []

for value in df_cargo_2["agency_type_name"]:
  if value == 'Federal':
    result_federal.append(1)
  else: result_federal.append(0)

In [24]:
df_cargo_2['is_federal'] = result_federal

In [26]:
df_cargo_2['is_federal'].value_counts()

is_federal
0    189598
1       550
Name: count, dtype: int64

In [28]:
#add code for school or university

result_college = []

for value in df_cargo_2["agency_type_name"]:
  if value == 'University or College':
    result_college.append(1)
  else: result_college.append(0)

In [30]:
df_cargo_2['is_college'] = result_college

In [32]:
df_cargo_2['is_college'].value_counts()

is_college
0    188555
1      1593
Name: count, dtype: int64

In [34]:
#Is the state Florida
result_florida = []

for value in df_cargo_2["state_name"]:
  if value == 'Florida':
    result_florida.append(1)
  else: result_florida.append(0)

In [36]:
df_cargo_2['is_florida'] = result_florida

In [38]:
df_cargo_2['is_florida'].value_counts()

is_florida
0    184375
1      5773
Name: count, dtype: int64

In [40]:
#making recovery a 1 or a 0
result_recovery = []

for value in df_cargo_2["recovered_flag"]:
  if value == False:
    result_recovery.append(0)
  else: result_recovery.append(1)

In [42]:
df_cargo_2['is_recovered'] = result_recovery

In [44]:
df_cargo_2['is_recovered'].value_counts()

is_recovered
0    159308
1     30840
Name: count, dtype: int64

In [46]:
#other variables that I should segment out?
#yes individual and business
df_cargo_2['victim_type_name'].value_counts()

victim_type_name
Individual                 135075
Business                    46029
Society/Public               5380
Government                   1701
Other                         761
Financial Institution         361
Unknown                       357
Religious Organization        318
Law Enforcement Officer       166
Name: count, dtype: int64

In [48]:
result_indv = []

for value in df_cargo_2["victim_type_name"]:
  if value == 'Individual':
    result_indv.append(1)
  else: result_indv.append(0)

In [50]:
df_cargo_2['is_indv_victim'] = result_indv

In [52]:
df_cargo_2['is_indv_victim'].value_counts()

is_indv_victim
1    135075
0     55073
Name: count, dtype: int64

In [66]:
result_biz = []

for value in df_cargo_2["victim_type_name"]:
  if value == 'Business':
    result_biz.append(1)
  else: result_biz.append(0)

In [68]:
df_cargo_2['is_biz_victim'] = result_biz

In [70]:
df_cargo_2['is_biz_victim'].value_counts()

is_biz_victim
0    144119
1     46029
Name: count, dtype: int64

In [72]:
result_society = []

for value in df_cargo_2["victim_type_name"]:
  if value == 'Society/Public':
    result_society.append(1)
  else: result_society.append(0)

In [74]:
df_cargo_2['is_public_victim'] = result_society

In [78]:
df_cargo_2['is_public_victim'].value_counts()

is_public_victim
0    184768
1      5380
Name: count, dtype: int64

In [105]:
df_cargo_2['prop_desc_name'].value_counts()

prop_desc_name
Other                          31719
Money                          22037
Automobile                     14984
Tools                          12080
Purse/ Wallet                  10175
                               ...
Aircraft                          25
Structure/ Other residence        24
Structure/ Other commercial       18
Structure/ Other industrial       16
Structure/ Public                 10
Name: count, Length: 63, dtype: int64

In [80]:
result_other = []

for value in df_cargo_2["prop_desc_name"]:
  if value == 'Other':
    result_other.append(1)
  else: result_other.append(0)

In [82]:
df_cargo_2['is_prop_desc_other'] = result_other

In [84]:
df_cargo_2['is_prop_desc_other'].value_counts()

is_prop_desc_other
0    158429
1     31719
Name: count, dtype: int64

In [86]:
result_purse = []

for value in df_cargo_2["prop_desc_name"]:
  if value == 'Purse/ Wallet':
    result_purse.append(1)
  else: result_purse.append(0)

In [90]:
df_cargo_2['is_prop_desc_purse'] = result_purse

In [92]:
df_cargo_2['is_prop_desc_purse'].value_counts()

is_prop_desc_purse
0    179973
1     10175
Name: count, dtype: int64

In [94]:
result_money = []

for value in df_cargo_2["prop_desc_name"]:
  if value == 'Money':
    result_money.append(1)
  else: result_money.append(0)

In [96]:
df_cargo_2['is_prop_desc_money'] = result_money

In [98]:
df_cargo_2['is_prop_desc_money'].value_counts()

is_prop_desc_money
0    168111
1     22037
Name: count, dtype: int64

In [100]:
result_auto = []

for value in df_cargo_2["prop_desc_name"]:
  if value == 'Automobile':
    result_auto.append(1)
  else: result_auto.append(0)

In [102]:
df_cargo_2['is_prop_desc_auto'] = result_auto

In [104]:
df_cargo_2['is_prop_desc_auto'].value_counts()

is_prop_desc_auto
0    175164
1     14984
Name: count, dtype: int64

In [106]:
result_tools = []

for value in df_cargo_2["prop_desc_name"]:
  if value == 'Tools':
    result_tools.append(1)
  else: result_tools.append(0)

In [108]:
df_cargo_2['is_prop_desc_tools'] = result_tools

In [110]:
df_cargo_2['is_prop_desc_tools'].value_counts()

is_prop_desc_tools
0    178068
1     12080
Name: count, dtype: int64

In [114]:
df_cargo_2['location_name'].value_counts()

location_name
Residence/Home                                   65873
Parking/Drop Lot/Garage                          31418
Highway/Road/Alley/Street/Sidewalk               20774
Other/Unknown                                    11687
Commercial/Office Building                        8132
Convenience Store                                 4632
Department/Discount Store                         4296
Service/Gas Station                               4048
Specialty Store                                   3986
Hotel/Motel/Etc.                                  3944
Rental Storage Facility                           3807
Restaurant                                        3186
Grocery/Supermarket                               2408
Construction Site                                 2372
Industrial Site                                   1948
School/College                                    1890
Park/Playground                                   1475
Dock/Wharf/Freight/Modal Terminal                 1400
Government/Public Building                        1389
Field/Woods                                       1174
Auto Dealership New/Used                          1139
Drug Store/Doctor's Office/Hospital               1078
Air/Bus/Train Terminal                            1058
Bank/Savings and Loan                              932
Church/Synagogue/Temple/Mosque                     875
Bar/Nightclub                                      776
Shopping Mall                                      608
Not Specified                                      567
Farm Facility                                      561
Gambling Facility/Casino/Race Track                560
Liquor Store                                       342
Cyberspace                                         336
Camp/Campground                                    296
Lake/Waterway/Beach                                165
Community Center                                   152
Amusement Park                                     148
Abandoned/Condemned Structure                      138
ATM Separate from Bank                             126
Rest Area                                          112
Jail/Prison/Penitentiary/Corrections Facility      103
Arena/Stadium/Fairgrounds/Coliseum                  85
Daycare Facility                                    76
Shelter-Mission/Homeless                            49
Tribal Lands                                        15
Military Installation                               12
Name: count, dtype: int64

In [116]:
result_home = []

for value in df_cargo_2["location_name"]:
  if value == 'Residence/Home':
    result_home.append(1)
  else: result_home.append(0)

In [120]:
df_cargo_2['is_location_home'] = result_home

In [122]:
df_cargo_2['is_location_home'].value_counts()

is_location_home
0    124275
1     65873
Name: count, dtype: int64

In [124]:
result_parking = []

for value in df_cargo_2["location_name"]:
  if value == 'Parking/Drop Lot/Garage':
    result_parking.append(1)
  else: result_parking.append(0)

In [126]:
df_cargo_2['is_location_parking_lot'] = result_parking

In [128]:
df_cargo_2['is_location_parking_lot'].value_counts()

is_location_parking_lot
0    158730
1     31418
Name: count, dtype: int64

In [130]:
result_highway = []

for value in df_cargo_2["location_name"]:
  if value == 'Highway/Road/Alley/Street/Sidewalk':
    result_highway.append(1)
  else: result_highway.append(0)

In [132]:
df_cargo_2['is_location_highway'] = result_highway

In [134]:
df_cargo_2['is_location_highway'].value_counts()

is_location_highway
0    169374
1     20774
Name: count, dtype: int64

In [138]:
df_cargo_2['offender_sex'].value_counts()

offender_sex
M    62845
F    16814
Name: count, dtype: int64

In [140]:
result_male = []

for value in df_cargo_2["offender_sex"]:
  if value == 'M':
    result_male.append(1)
  else: result_male.append(0)

In [142]:
df_cargo_2['is_perp_male'] = result_male

In [144]:
df_cargo_2['is_perp_male'].value_counts()

is_perp_male
0    127303
1     62845
Name: count, dtype: int64

In [146]:
df_cargo_2.head(25)

,Unnamed: 0,data_year,ori,pub_agency_name,pub_agency_unit,agency_type_name,city_name,state_abbr,state_name,division_name,...,is_public_victim,is_prop_desc_other,is_prop_desc_purse,is_prop_desc_money,is_prop_desc_auto,is_prop_desc_tools,is_location_home,is_location_parking_lot,is_location_highway,is_perp_male
0,0,2019,NC0900200,Monroe,NaN,City,Monroe,NC,North Carolina,South Atlantic,...,0,0,0,0,0,0,0,0,0,0
1,1,2012,FL0530000,Polk,NaN,County,NaN,FL,Florida,South Atlantic,...,0,0,0,0,0,0,0,0,0,0
2,2,2012,FL0530000,Polk,NaN,County,NaN,FL,Florida,South Atlantic,...,0,0,0,0,0,0,0,0,0,0
3,11,2012,SC0150000,Colleton,NaN,County,NaN,SC,South Carolina,South Atlantic,...,0,0,0,0,0,0,0,1,0,0
4,12,2020,FL0139700,Miami Gardens,NaN,City,Miami Gardens,FL,Florida,South Atlantic,...,0,0,0,0,0,0,0,0,1,0
5,13,2016,TXSPD0000,San Antonio,NaN,City,San Antonio,TX,Texas,West South Central,...,0,0,0,0,0,0,0,1,0,0
6,14,2016,TNMPD0000,Memphis,NaN,City,Memphis,TN,Tennessee,East South Central,...,0,0,0,0,0,0,0,0,0,1
7,15,2016,TNMPD0000,Memphis,NaN,City,Memphis,TN,Tennessee,East South Central,...,0,0,0,0,0,0,0,0,0,0
8,16,2014,VA1200000,Portsmouth,NaN,City,Portsmouth,VA,Virginia,South Atlantic,...,0,0,0,0,0,0,0,0,0,0
9,17,2014,VA1200000,Portsmouth,NaN,City,Portsmouth,VA,Virginia,South Atlantic,...,0,0,0,0,0,0,0,0,0,1
10,18,2016,OH0120000,Clark,NaN,County,NaN,OH,Ohio,East North Central,...,0,0,0,0,0,0,0,0,0,0
11,19,2016,TXSPD0000,San Antonio,NaN,City,San Antonio,TX,Texas,West South Central,...,0,0,0,0,0,0,0,0,0,0
12,20,2016,TXSPD0000,San Antonio,NaN,City,San Antonio,TX,Texas,West South Central,...,0,0,0,0,0,0,0,1,0,0
13,21,2016,TXSPD0000,San Antonio,NaN,City,San Antonio,TX,Texas,West South Central,...,0,0,0,0,0,0,0,0,0,0
14,22,2016,SC0230000,Greenville,NaN,County,NaN,SC,South Carolina,South Atlantic,...,0,0,0,0,0,0,0,0,0,1
15,23,2016,TNMPD0000,Memphis,NaN,City,Memphis,TN,Tennessee,East South Central,...,0,0,0,0,0,0,0,1,0,0
16,24,2016,TNMPD0000,Memphis,NaN,City,Memphis,TN,Tennessee,East South Central,...,0,0,0,0,0,0,0,1,0,0
17,25,2014,VA1200000,Portsmouth,NaN,City,Portsmouth,VA,Virginia,South Atlantic,...,0,0,0,0,0,0,0,0,0,1
18,26,2014,VA1200000,Portsmouth,NaN,City,Portsmouth,VA,Virginia,South Atlantic,...,0,0,0,0,0,0,0,0,0,0
19,27,2014,FL0060700,Pompano Beach,NaN,City,Pompano Beach,FL,Florida,South Atlantic,...,0,0,0,0,0,0,0,1,0,0
20,28,2014,FL0060700,Pompano Beach,NaN,City,Pompano Beach,FL,Florida,South Atlantic,...,0,0,0,0,0,0,0,0,0,0
21,29,2016,TXSPD0000,San Antonio,NaN,City,San Antonio,TX,Texas,West South Central,...,0,0,0,0,0,0,0,0,0,1
22,31,2016,TXSPD0000,San Antonio,NaN,City,San Antonio,TX,Texas,West South Central,...,0,0,0,0,0,0,0,1,0,0
23,32,2016,SC0230000,Greenville,NaN,County,NaN,SC,South Carolina,South Atlantic,...,0,0,0,0,0,0,0,0,0,1
24,33,2016,TNMPD0000,Memphis,NaN,City,Memphis,TN,Tennessee,East South Central,...,0,0,0,0,0,0,0,1,0,0

In [148]:
#Export the data file to be used later
df_cargo_2.to_csv(os.path.join(path, 'Data Files', 'edited', 'CD_2023_Cleaned_3.csv'))